@use "./base/base.scss";
@use "./config/variables.scss";
@use "./components/button.scss";
@use "./components/header.scss";
@use "./components/header-logica.scss";
@use "./components/_event.scss";
@use "./components/practice.scss";
@use "./components/challenges.scss";
@use "./components/phrase.scss";
@use "./components/questions.scss";
@use "./components/accordion.scss";
@use "./components/footer.scss";

@media screen and (min-width: 1px) {
  .logo-image {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-flex--image {
    height: 50vh;
  }

  .questions {
    margin-bottom: 3em;
  }
  .challenges__cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .event {
    &__description {
      width: 85%;
      font-size: 1.15em;
    }
  }
}

@media screen and (min-width: 360px) {
  .container-flex--image {
    height: 70vh;
  }
  .questions {
    margin-bottom: 4.5em;
  }
  .questions__title {
    font-size: 1.5rem;
    width: 11rem;
    margin: 0 auto;
  }
  .faq__title {
    font-size: 1.1rem;
    width: 74%;
  }

  .header {
    &--logo {
      flex-direction: row;
    }
  }

  .event {
    &__description {
      width: 85%;
      font-size: 1.25em;
    }
  }
}

@media screen and (min-width: 460px) {
  .challenges__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 760px) {
  .questions__title {
    width: 17rem;
  }
  .faq__title {
    font-size: 1.2rem;
    width: 74%;
  }
  .faq__description {
    font-family: "Roboto Mono",sans-serif;
    padding: 1.5em 10em 1.5em 0;
  }
  .challenges__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    height: 70vh;

    &__logo-matricula {
      margin-bottom: 2.7em;
      padding: 0 10%;
    }
    
    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
    & img {
      display: inline-block;
    }
    &__registration {
      margin: 0;
    }
    &__form-container {
      margin: 0;
    }
  }

  .event {
    &__description {
      font-size: 1.35em;
    }
  }
}
