@use "./base/base.scss";
@use "./config/variables.scss";
@use "./components/button.scss";
@use "./components/header.scss";
@use "./components/header-logica.scss";
@use "./components/instructors.scss";
@use "./components/learning.scss";
@use "./components/_event.scss";
@use "./components/practice.scss";
@use "./components/challenges.scss";
@use "./components/phrase.scss";
@use "./components/timeChaller.scss";
@use "./components/questions.scss";
@use "./components/accordion.scss";
@use "./components/footer.scss";

@media screen and (min-width: 1px) {
  .logo-image {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-flex--image {
    height: 50vh;
  }

  .questions {
    margin-bottom: 3em;
  }
  .challenges__cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .event {
    &__description {
      width: 85%;
      font-size: 1.15em;
    }
    &__item {
      display: flex;
      align-items: center;
      font-weight: 700;
  
      &:nth-child(3) {
        margin-bottom: 1em;
      }
    }
  }
  .learning {
    &__container {
      padding: 2rem 2.2rem;
    }

    &::before {
      content: '';
      display: block;
      background-image: url('/assets/images/Quadradinhos-desktop-points.svg');
      height: 16rem;
      width: 85vw;
      top: 25%;
      z-index: -50;
      left: -29%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }

  }
  .instructors {
    &__container {
      flex-direction: column;
    }
    &__list {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 360px) {
  .container-flex--image {
    height: 70vh;
  }
  .questions {
    margin-bottom: 4.5em;
  }
  .questions__title {
    font-size: 1.5rem;
    width: 11rem;
    margin: 0 auto;
  }
  .faq__title {
    font-size: 1.1rem;
    width: 74%;
  }

  .header {
    &--logo {
      flex-direction: row;
    }
  }

  .event {
    &__description {
      width: 85%;
      font-size: 1.25em;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    
  }
  
}

@media screen and (min-width: 460px) {
  .challenges__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 660px) {

  .event {
    &__description {
      font-size: 1.35em;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  .learning {
    &::before {
      content: '';
      display: block;
      background-image: url('/assets/images/Quadradinhos-desktop-points.svg');
      height: 420px;
      width: 65vw;
      top: 30%;
      z-index: -50;
      left: 30%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
  }
  .instructors {
    &__container {
      flex-direction: row;
    }
    &__list {
      max-width: 352px;
    }
  }

}

@media screen and (min-width: 760px) {
  .questions__title {
    width: 17rem;
  }
  .faq__title {
    font-size: 1.2rem;
    width: 74%;
  }
  .faq__description {
    font-family: "Roboto Mono",sans-serif;
    padding: 1.5em 10em 1.5em 0;
  }
  .challenges__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header {

    &__logo-matricula {
      margin-bottom: 2.7em;
      padding: 0 10%;
    }
    
    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
    & img {
      display: inline-block;
    }
    &__registration {
      margin: 0;
    }
    &__form-container {
      margin: 0;
    }
  }
  .learning {
    &__container {
      padding: 4.4rem 7.2rem;
    }
  }
}

@media screen and (min-width: 999px) {
  .event {
    &__description {
      font-size: 1.25em;
    }
    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: none;
    }
    &__icon {
      margin-right: 1rem;
      width: 90px;
      height: 60px;
      background-color: var(--yellow);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      & img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      font-weight: 700;
    
      &:nth-child(-n+2) {
        margin-bottom: 1em;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      font-weight: 700;
    
      &:nth-child(-n+2) {
        margin-bottom: 0;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
}





