.backIncription {
  background-image: url('/assets/images/img_inscricao.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left top -8rem;

  &--padd {
    padding: 10em;
  }
}