.phrase-gates {
  color: var(--white);
  font-size: 1.5rem;

  &__description {
    font-weight: 300;
    line-height: 1.5;

    &::before {
      content: '';
      display: block;
      width: 75px;
      height: 75px;
      background-image: url(/assets/images/aspas.png);
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: 1rem;
    }
    
  }
}



