.practice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--white);

  &--marTop {
    margin-top: 3em;
  }

  &__title {
    margin: 3rem auto;
    font-family: "Roboto mono",sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    max-width: 33em;

    &::after {
      content: '|';
      opacity: 1;
      animation: pisca .7s infinite;
    }
    @keyframes pisca{
      0%, 100%{
        opacity: 1;
      }
      50%{
        opacity: 0;
      }
    }
  }
  &__description {
    font-size: 1.06rem;
    line-height: 1.4;
    font-family: "Inter",sans-serif;

  }
  &__description,
  .line-yellow {
    margin: 7.35rem auto 3.35rem auto;
  }
}

