* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--white);
  height: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.logica {
  background-color: var(--black-river);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 2rem 1.5rem;
  width: 1150px;
}

:root {
  --bg: #000000;
  --blue-dark: #061B36;
  --black-river: #14161c;
  --blue-light: #6bd1ff;
  --bg-payment-blue: #093366;
  --yellow: #f9ff00;
  --white: #ffffff;
  --white-200: #e5f1ff;
  --color-shadow: rgb(253 255 180 / 28%);
}

.btn {
  border: 0;
  border: 1px solid var(--white);
}

.btn-yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  color: var(--bg);
}

.btn-default {
  border: 1px solid var(--white);
  background-color: var(--bg);
  color: var(--white);
  font-size: 1em;
}

.btn-registration {
  margin: 1.5rem;
  width: 80%;
  padding: 0.857rem;
  border: none;
  border-radius: 5px;
  background-color: #F9FF00;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.btn-yellow,
.btn-default {
  padding: 1rem;
}

.btn-yellow a {
  text-decoration: none;
}

.main-background {
  background-image: url(/assets/images/header-novo.png);
  background-size: cover;
  background-position: center;
}

.container-flex--image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.header {
  background-image: url("/assets/images/header-desk.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 2em;
}
.header__registration {
  max-width: 100%;
  border: 5px solid #ffffff;
  background-color: #000000;
  padding: 3rem 1.5rem;
  margin-top: 4em;
}
.header--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  color: #ffffff;
}
.header--logo h1::after {
  content: "|";
  opacity: 1;
  animation: pisca 0.7s infinite;
}
@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.header__description {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 1em;
}
.header__description p {
  font-family: "Roboto Mono", sans-serif;
  color: #ffffff;
  font-size: 1.06rem;
  margin-top: 2rem;
}
.header__description span {
  color: #EDE300;
  font-size: 1.06rem;
  font-family: "Roboto Mono", sans-serif;
}
.header__form-container {
  margin-top: 3em;
  box-shadow: 0 2px 24px rgba(253, 255, 180, 0.28);
}
.header__form {
  background-color: #000000;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  color: #ffffff;
}
.header-input {
  width: 80%;
  background-color: transparent;
  border: 2px solid #F9FF00;
  border-radius: 5px;
  color: #ffffff;
  margin: 0.5rem;
  padding: 1rem 2.5rem 1rem 13%;
}
.header-input:hover {
  outline: none;
}
.header-input--user, .header-input--email {
  background-image: url("/assets/images/icons/icon-pessoa.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 5%;
  background-size: 15px;
}
.header-input--email {
  background-image: url("/assets/images/icons/icon-email.svg");
}
.header-title {
  width: 80%;
  padding: 0.5rem;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
}
.header-subtitle {
  color: #000;
  background-color: #FFF;
  font-weight: 800;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.instructors {
  background-image: url("/assets/images/quadradinhosBG.svg");
  background-repeat: no-repeat;
  background-position: left top 34rem;
}
.instructors__container {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
}
.instructors__title {
  padding: 3.5em 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875rem;
}
.instructors__learning {
  display: block;
  background-color: var(--yellow);
  color: var(--bg);
  font-weight: 900;
  width: fit-content;
  margin: 0 auto 0.8rem;
  padding: 0 0.2em;
}
.instructors__list {
  max-width: 322px;
  height: 450px;
  background-color: var(--bg);
  background-image: url("/assets/images/rafa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 73%;
  box-shadow: 0 2px 24px rgba(57, 246, 235, 0.42);
  padding: 1.5rem;
  display: flex;
  align-items: end;
}
.instructors__description {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
}
.instructors__text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
  line-height: 1.5;
  max-width: 500px;
}
.instructors__text::before {
  content: "";
  background-image: url("/assets/images/aspas.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
  display: block;
  width: 75px;
  height: 60px;
}
.instructors__name {
  text-align: center;
  margin-bottom: 1em;
}
.instructors__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.instructors__links a {
  color: var(--white);
  text-decoration: underline;
  margin-right: 0.5em;
}
.instructors .icon {
  margin-right: 0.3em;
}

.learning {
  padding: 5.5em 1.5em;
  text-align: center;
  position: relative;
}
.learning::before {
  content: "";
  display: block;
  background-image: url("/assets/images/Quadradinhos-desktop-points.svg");
  height: 421px;
  width: 50vw;
  top: 23%;
  z-index: -50;
  left: 51%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.learning__title, .learning__text {
  color: var(--bg);
  font-weight: 900;
  background-color: var(--yellow);
  width: fit-content;
  margin: 0 auto;
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 3px 7px;
}
.learning__text {
  margin-top: 0.5em;
}
.learning__container {
  margin-top: 7rem;
  background-color: var(--bg);
  box-shadow: 0 2px 24px rgba(57, 246, 235, 0.42);
}
.learning__description {
  font-weight: 200;
  line-height: 1.5;
  font-size: 1.06rem;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
}

.event {
  padding: 1.5em;
}
.event__description {
  width: 100%;
  font-size: 1.35em;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 2em 0;
}
.event__list {
  background-color: var(--bg);
  box-shadow: 0 2px 24px rgba(253, 255, 180, 0.28);
  padding: 1.5rem;
}
.event__item {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.event__item:nth-child(-n+2) {
  margin-bottom: 1em;
}
.event__icon {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  background-color: var(--yellow);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event__icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.practice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--white);
}
.practice__title {
  margin: 3rem auto;
  font-family: "Roboto mono", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}
.practice__description {
  font-size: 1.06rem;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
}
.practice__description,
.practice .line-yellow {
  margin: 7.35rem auto 3.35rem auto;
}

.line-yellow {
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
}

.challenges__cards {
  margin-top: 2.6rem;
  width: 90%;
  margin: 2.2rem auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.challenges__cards:first-child {
  margin-top: unset;
}

.card-container {
  color: var(--white);
  height: 400px;
  box-shadow: 0 2px 24px var(--color-shadow);
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 0;
}
.card-container h4 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.card-container:hover {
  border: 1px solid var(--yellow);
  transition: 0.2s;
}
.card-container div {
  border: 1px solid var(--yellow);
  border-radius: 50%;
  padding: 1.8rem;
  text-align: center;
}
.card-container div, .card-container p {
  margin-top: 1.8rem;
  margin-bottom: 1.75rem;
}
.card-container p {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Roboto Mono", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.4;
}

.challenges__title {
  color: var(--bg);
  background-color: var(--yellow);
  margin: 0 auto;
  text-align: center;
  width: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.875rem;
  padding: 0 0.2em;
}

.brief-challenges {
  text-align: center;
  font-family: "Roboto mono", sans-serif;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  color: var(--white);
  font-size: 1.75rem;
}

.background-square--yellow {
  background-image: url(/assets/images/quadradinhosBG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 193px;
  width: 100vw;
  display: block;
  background-position: bottom;
  margin-bottom: 2.8rem;
}

.phrase-gates {
  color: var(--white);
  font-size: 1.5rem;
}
.phrase-gates__description {
  font-weight: 300;
  line-height: 1.5;
}
.phrase-gates__description::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  background-image: url(/assets/images/aspas.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
}

.questions {
  position: relative;
  margin-bottom: 9em;
}
.questions__title {
  color: var(--yellow);
  font-size: 2.1rem;
  text-align: center;
  margin: 4.7rem 0;
}

.questions-details {
  display: block;
  margin: 2rem auto;
  width: 150px;
}

.faq-icon {
  width: 30px;
  height: 30px;
}

.faq-bg {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faq {
  border-top: 2px solid var(--white);
  padding: 0.7rem 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.faq__answer .faq__description {
  font-size: 1.15rem;
  line-height: 1.2;
}

.faq__title {
  font-size: 1rem;
  width: 74%;
}

.faq.active .faq__title {
  color: var(--yellow);
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq.active .faq__answer {
  max-height: 400px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
  fill: var(--yellow);
}

svg {
  transition: transform 0.2s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Planos de pagamentos */
.payment-plans-bg {
  padding: 2.112em 0;
}

.payment-plans__content {
  display: flex;
  justify-content: space-around;
}

.payment-plans--vantagens {
  text-align: center;
}

.payment-plans--vantagens img {
  margin-bottom: 0.6em;
  height: 45px;
  width: 43px;
}

.footer {
  background-color: var(--bg);
  margin-top: 3rem;
  color: var(--white);
}
.footer--disabled {
  background-color: transparent;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content img, .footer__content span {
  -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.footer-divider {
  height: 1rem;
  width: 100vw;
  background-color: #3f3d3d;
}

@media screen and (min-width: 1px) {
  .logo-image {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container-flex--image {
    height: 50vh;
  }

  .questions {
    margin-bottom: 3em;
  }

  .challenges__cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .event__description {
    width: 85%;
    font-size: 1.15em;
  }
  .event__item {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .event__item:nth-child(3) {
    margin-bottom: 1em;
  }

  .learning__container {
    padding: 2rem 2.2rem;
  }
  .learning::before {
    content: "";
    display: block;
    background-image: url("/assets/images/Quadradinhos-desktop-points.svg");
    height: 16rem;
    width: 85vw;
    top: 25%;
    z-index: -50;
    left: -29%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  .instructors__container {
    flex-direction: column;
  }
  .instructors__list {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 360px) {
  .container-flex--image {
    height: 70vh;
  }

  .questions {
    margin-bottom: 4.5em;
  }

  .questions__title {
    font-size: 1.5rem;
    width: 11rem;
    margin: 0 auto;
  }

  .faq__title {
    font-size: 1.1rem;
    width: 74%;
  }

  .header--logo {
    flex-direction: row;
  }

  .event__description {
    width: 85%;
    font-size: 1.25em;
  }
  .event__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 460px) {
  .challenges__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 660px) {
  .event__description {
    font-size: 1.35em;
  }
  .event__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .learning::before {
    content: "";
    display: block;
    background-image: url("/assets/images/Quadradinhos-desktop-points.svg");
    height: 420px;
    width: 65vw;
    top: 30%;
    z-index: -50;
    left: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  .instructors__container {
    flex-direction: row;
  }
  .instructors__list {
    max-width: 352px;
  }
}
@media screen and (min-width: 760px) {
  .questions__title {
    width: 17rem;
  }

  .faq__title {
    font-size: 1.2rem;
    width: 74%;
  }

  .faq__description {
    font-family: "Roboto Mono", sans-serif;
    padding: 1.5em 10em 1.5em 0;
  }

  .challenges__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header__logo-matricula {
    margin-bottom: 2.7em;
    padding: 0 10%;
  }
  .header__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .header img {
    display: inline-block;
  }
  .header__registration {
    margin: 0;
  }
  .header__form-container {
    margin: 0;
  }

  .learning__container {
    padding: 4.4rem 7.2rem;
  }
}
@media screen and (min-width: 999px) {
  .event__description {
    font-size: 1.25em;
  }
  .event__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }
  .event__icon {
    margin-right: 1rem;
    width: 90px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .event__icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .event__item {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .event__item:nth-child(-n+2) {
    margin-bottom: 1em;
  }
  .event__item {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .event__item:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .event__item:nth-child(3) {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
