.faq-icon {
  width: 36px;
  height: 34px;
}

.faq-bg {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faq {
  border-top: 2px solid var(--white);
  padding: 0.7rem 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.faq:nth-child(5) {
  border-bottom: 2px solid var(--white);
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__question .faq__title {
  font-size: 1.25rem;
}

.faq__answer .faq__description {
  font-size: 1rem;
  padding: 1em 1.3em;
  line-height: 1.3;
}

.faq__title {
  text-align: center;
  font-size: 2.1875rem;
  padding: 1em 2em 1.3em 1em;
}

.faq.active .faq__title {
  color: var(--yellow);
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq.active .faq__answer {
  max-height: 400px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
  fill: var(--yellow);
}

svg {
  transition: transform .2s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Planos de pagamentos */
.payment-plans-bg {
  padding: 2.112em 0;
}

.payment-plans__content {
  display: flex;
  justify-content: space-around;
}

.payment-plans--vantagens {
  text-align: center;
}

.payment-plans--vantagens img {
  margin-bottom: 0.6em;
  height: 45px;
  width: 43px;
}