.footer {
  background-color: var(--bg);
  margin-top: 3rem;
  color: var(--white);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-divider {
  height: 1rem;
  width: 100vw;
  background-color: #3f3d3d;
}