.main-background {
  background-image: url(../../images/header-novo.png);
  background-size: cover;
  background-position: center;
}

.container-flex--image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}