.practice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--white);
}

.practice__title {
  margin: 3rem auto;
  font-family: "Roboto mono",sans-serif;
  font-size: 1.75rem;
  width: 55rem;
  font-weight: 600;
}

.practive__description {
  font-size: 1.06rem;
  line-height: 1.4;
  font-family: "Inter",sans-serif;
}

.practive__description,
.line-yellow {
  margin: 2.35rem auto 3.35rem auto;
}

.line-yellow { 
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
}